<div
  class="modal fade text-left"
  id="default"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel1"
  aria-hidden="true"
>
  <form action="/admin/mapel" method="POST">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel1">Tambah Data</h5>
          <button
            type="button"
            class="close rounded-pill"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i data-feather="x"></i>
          </button>
        </div>
        <div class="modal-body">
          <% if (typeof errors != 'undefined') { %>
          <div class="alert alert-danger" role="alert">
            <% errors.forEach(item => { %>
            <p>- <%= item.msg %></p>
            <% }) %>
          </div>
          <% } %>
          <div class="mb-3">
            <label for="nama" class="form-label">Nama Mata Pelajaran</label>
            <input type="text" class="form-control" name="nama" id="nama" />
          </div>
          <div class="mb-3">
            <label for="guru" class="form-label">Guru</label>
            <select class="form-select" name="guru" id="guru">
              <option value="" selected>Pilh Guru</option>
              <% guru.forEach(item => { %>              
                <option value="<%= item._id %>"><%= item.nama %></option>
              <% }) %>
            </select>
          </div>
          <div class="mb-3">
            <label for="tingkatan" class="form-label">Tingkatan</label>
            <select class="form-select" name="tingkatan" id="tingkatan">
              <option value="" selected>Pilh Tingkatan</option>
              <option value="all">Semua Kelas</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <% if (jurusan === 'Mapel MIA') { %>           
            <input type="hidden" name="jurusan" value="MIA" />
          <% } %>
          <% if (jurusan === 'Mapel IIS') { %>           
            <input type="hidden" name="jurusan" value="IIS" />
          <% } %>

          <% if (title === 'Mata Pelajaran X MIA') { %>           
            <input type="hidden" name="kelas" value="X" />
          <% } %>
          <% if (title === 'Mata Pelajaran XI MIA') { %>           
            <input type="hidden" name="kelas" value="XI" />
          <% } %>
          <% if (title === 'Mata Pelajaran XII MIA') { %>           
            <input type="hidden" name="kelas" value="XII" />
          <% } %>

          <% if (title === 'Mata Pelajaran X IIS') { %>           
            <input type="hidden" name="kelas" value="X" />
          <% } %>
          <% if (title === 'Mata Pelajaran XI IIS') { %>           
            <input type="hidden" name="kelas" value="XI" />
          <% } %>
          <% if (title === 'Mata Pelajaran XII IIS') { %>           
            <input type="hidden" name="kelas" value="XII" />
          <% } %>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger d-flex justify-content-center align-items-center"
            data-bs-dismiss="modal"
          >
            Batal
          </button>
          <button
            type="submit"
            class="btn btn-primary d-flex justify-content-center align-items-center"
          >
            Tambah
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
